crash-reports
CustomSkinLoader
hs_err_pid10044.log
hs_err_pid12368.log
*.log
usercache.json
usernamecache.json
xaero
saves
resourcepacks
natives
mods
logs
local
screenshots
config/bettervillage_1.properties
config/libraryferret_1.properties
config/packetfixer.properties
config/bettervillage_1.properties
config/libraryferret_1.properties
config/packetfixer.properties
downloads
XaeroWaypoints_BACKUP240807
