*.log
*.DS_Store
Thumbs.db
/logs/
/crash-reports/
/debug/
/.mixin.out/

/saves/
/mods/
/backups/
/screenshots/
/realms_persistence.json
/modernfix
/resourcepacks/
/xaero/
/XaeroWaypoints_BACKUP240807/

usercache.json
usernamecache.json
launcher_accounts.json
launcher_profiles.json
/tlauncher_*/
/skin_skins/
/webcache2/

/assets/
/libraries/
/versions/**/*.jar

!/versions/**/*.json

!/defaultconfigs/

!options.txt
!optionsof.txt
!optionsshaders.txt
!servers.dat

!/config/
!/scripts/
/shaderpacks/
local/ftbchunks
